@using SEM.App.Authentication
@using System.Net.Http.Headers
@using System.Text
@using System.Text.Json
@using SEM.App.Data.Models
@using SEM.App.Components.Loadings
@using SEM.App.Pages

@inject HttpClient HttpClient
@inject AuthenticationStateProvider authenticationStateProvider

<div class="eventNews">
    <button class="btn btn-outline-dark btn-sm" @onclick="OpenCreateNews">Create a News</button>
        <div class="eventNews-separator"></div>
    @if (News == null)
            {
                <SimpleLoading></SimpleLoading>
            }
            else
            {
                for (var index = 0; index < News.Count; index++)
                {
                    var news = News[index];
                    <div class="news">  
                        @if (index != 0)
                        {
                            <Separator></Separator>
                        }
                        <div class="eventNews-news-new-field">
                            Ttile: @news.Title
                        </div>
                        <div class="eventNews-news-new-field">
                            Creation date: @news.CreationDate
                        </div>
                        <div class="eventNews-news-new-field">
                            Author: @news.AuthorName
                        </div>
                        <div class="eventNews-news-new-field">
                            Description: @news.ShortDescription
                        </div>
                        <div class="eventNews-news-new-actions">
                            <div class="eventNews-news-new-actions-button">
                                @if (!RequestingDelete)
                                {
                                    <button class="btn btn-outline-dark btn-sm" @onclick="@(() => Delete(news.Id))">Delete</button>
                                }
                                else
                                {
                                    <button class="btn btn-outline-dark btn-sm" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        <span class="sr-only">Deleating...</span>
                                    </button>
                                }
                            </div>
                            <div>
                                @if (!RequestingUpdate)
                                {
                                    <button class="btn btn-outline-dark btn-sm" @onclick="@(() => OpenUpdateNews(news))">Update</button>
                                }
                                else
                                {
                                    <button class="btn btn-outline-dark btn-sm" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        <span class="sr-only">Updating...</span>
                                    </button>
                                }
                            </div>


                        </div>
                    </div>
                    if (UpdateNewsIsOpen)
                    {
                        <UpdateNews NewsToUpdate="@NewsToUpdate"
                                    OnClose="@OnUpdateNewsClose">
                        </UpdateNews>
                    }
                }
            }
</div>

@if (CreateNewsIsOpen)
{
    <CreateNews EventId="@EventId"
        OnClose="@OnCreateNewsClose"></CreateNews>
}

@code {
    
    [Parameter]
    public string? EventId { get; set; }

    private List<GetNewsDto>? News; 
    private GetNewsDto? NewsToUpdate; 

    private bool UpdateNewsIsOpen;
    private bool CreateNewsIsOpen;
    private bool RequestingDelete;
    private bool RequestingUpdate;
    private string? Token;
        private const string semApiUrl = "https://sport-management-api.azurewebsites.net/api/";
    
    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
        Token = await customAuthStateProvider.GetToken();
        
        await GetNews();

        await base.OnInitializedAsync();
    }

    private async Task Delete(Guid id)
    {
        RequestingDelete = true;
        var request = new HttpRequestMessage(HttpMethod.Delete, semApiUrl + $"News/{id}");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", Token);
        var response = await HttpClient.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            await GetNews();
        }
        RequestingDelete = false;
    }
    
    private async Task GetNews()
    {
        var response = await HttpClient.GetAsync(semApiUrl + $"News/event/{EventId}");
        if (!response.IsSuccessStatusCode)
        {
    
        }

        News = await response.Content.ReadFromJsonAsync<List<GetNewsDto>>();
    }
    
    private void OpenCreateNews()
    {   
        CreateNewsIsOpen = true;
    }
    
    private void OpenUpdateNews(GetNewsDto news)
    {
        NewsToUpdate = news;
        UpdateNewsIsOpen = true;
    }
    
    private async Task OnCreateNewsClose()
    {
        CreateNewsIsOpen = false;
        await GetNews();
    }
    
    private async Task OnUpdateNewsClose()
    {
        UpdateNewsIsOpen = false;
        await GetNews();
    }
}   
