@using SEM.App.Data
@using SEM.App.Authentication
@using System.Net.Http.Headers
@using System.Text
@using System.Text.Json
@using Dialog = SEM.App.Components.Dialog

@inject AuthenticationStateProvider authenticationStateProvider
@inject HttpClient HttpClient
@inject NavigationManager navManager
@inject IJSRuntime JS

<div class="registrationManager">
    <div class="registrationManager-top">
        <h3>Registrations Manager</h3>
        @if (Registrations.Count > 0)
        {
            <button class="btn btn-outline-dark btn-sm" @onclick="DownloadCsv">Download Csv</button>
        }
    </div>
    *Click name to check in
    <table class="table table-striped">
        <thead>
        <th scope="col">User</th>
        <th scope="col">Bib</th>
        <th scope="col">State</th>
        <th scope="col">Check-in</th>
        <th scope="col">Remove</th>
        </thead>
        @foreach (var registration in Registrations)
        {
            <tbody>
            <tr>
                <td @onclick="() => GoToCheckIn(registration.Id)">
                    @registration.UserName
                </td>
                <td>
                    @if (registration.State == RegistrationState.Accepted)
                    {
                        @if (!registration.RequestingUpdateBib)
                        {
                            @if (registration.CheckedIn)
                            {
                                <b>@registration.Bib</b>
                            }
                            else
                            {
                                <input class="form-control-bib" type="number" @bind="registration.Bib" @bind:event="oninput" @onchange="() => Update(registration)">
                            }
                        }
                        else
                        {
                            <div class="spinner-border spinner-border-sm" role="status"></div>
                        }
                    }
                </td>
                <td >
                    <div class="state-column">
                        @if (!registration.CheckedIn)
                        {
                            <EditForm Model="@registration.State">
                                <InputSelect ValueExpression="@(() => registration.State)" Value="@registration.State" ValueChanged="@((RegistrationState value) => ChangeRegistrationStatus(registration, value))">
                                    @if (!registration.RequestingChangeStatus)
                                    {
                                        <option value="@registration.State">@GiveStateIcon(registration.State) @registration.State</option>
                                        @if (registration.State is RegistrationState.Cancelled)
                                        {
                                            <option value="@RegistrationState.Accepted">Accept</option>
                                            <option value="@RegistrationState.PreRegistered">Pre-register</option>
                                        }
                                        @if (registration.State is RegistrationState.PreRegistered)
                                        {
                                            <option value="@RegistrationState.Accepted">Accept</option>
                                            <option value="@RegistrationState.Cancelled">Cancel</option>
                                        }
                                        @if (registration.State is RegistrationState.Accepted)
                                        {
                                            <option value="@RegistrationState.Cancelled">Cancel</option>
                                            <option value="@RegistrationState.PreRegistered">Pre-register</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@registration.State">Updating ...</option>
                                    }
                                </InputSelect>
                            </EditForm>
                        }
                        else
                        {
                            <b>@registration.State</b>
                        }
                        
                    </div>
                </td>
                <td>
                    @if(registration.CheckedIn)
                    {
                        @CheckedIn
                    }
                    else
                    {
                        @NonCheckedIn
                    }
                </td>
                <td>
                    @if (!registration.CheckedIn)
                    {
                        <button class="btn btn-outline-dark btn-sm" @onclick="() => OpenDialog(registration.Id, registration.UserName)">Delete</button>
                    }
                </td>
            </tr>
            </tbody>
        }
    </table>
    @if (ErrorMessage != null)
    {
        <div class="alert alert-warning" role="alert">
            @ErrorMessage
        </div>
    }
</div>

@if (DialogDeleteRegistrationIsOpen)
{
    <Dialog Caption="Delete registration"
            RequestingDeleteRegistration="@RequestingDeleteRegistration"
            Message="@message"
            OnClose="@OnDeleteRegistrationDialogClose"
            Type="Dialog.Category.DeleteNot">
    </Dialog>
}

@code {

    [Parameter]
    public List<RegistrationDto>? Registrations { get; set; }
    [Parameter]
    public Guid? EventId { get; set; }
    [Parameter]
    public EventCallback RefreshEvent { get; set; }
    
    private EditContext? editContext;   
    
    private string PreRegisteredState = "🔔  ";
    private string CancelledState = "⛔  ";
    private string AcceptedState = "✅  ";
    
    private string CheckedIn = "✅";
    private string NonCheckedIn = "⛔";
    
    private Guid registrationIdToDelete;
    
    private bool DialogDeleteRegistrationIsOpen;
    private bool RequestingDeleteRegistration;  
    private string? ErrorMessage;  
    
    private string message;
    private string Token;

    protected override Task OnInitializedAsync()
    {
        editContext = new EditContext(Registrations);
        return base.OnInitializedAsync();
    }

    private async Task ChangeRegistrationStatus(RegistrationDto registration, RegistrationState state)
    {
        registration.RequestingChangeStatus = true;   

        var request = new HttpRequestMessage(HttpMethod.Put, ApiService.GetBaseUrl() + $"Registrations/{registration.Id}/{state}");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", await GetToken());
        var response = await HttpClient.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            await RefreshEvent.InvokeAsync();
        }
        if (!response.IsSuccessStatusCode)
        {
            ErrorMessage = Messages.ApiInternalServerErrorMessage;
        }
        registration.RequestingChangeStatus = false;
    }
    
    private async Task Update(RegistrationDto registration)
    {
        registration.RequestingUpdateBib = true;
        var jsonInString = JsonSerializer.Serialize(new
        {       
            registration.Id,
            registration.Bib
        });   
        
        var request = new HttpRequestMessage(HttpMethod.Put, ApiService.GetBaseUrl() + $"Registrations/{registration.Id}")
        {
            Content = new StringContent(jsonInString, Encoding.UTF8, "application/json")
        };
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", await GetToken());
        var response = await HttpClient.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            await RefreshEvent.InvokeAsync();
        }
        if (!response.IsSuccessStatusCode)
        {
            ErrorMessage = Messages.ApiInternalServerErrorMessage;
        }
        
        registration.RequestingUpdateBib = false;
    }

    private async Task OnDeleteRegistrationDialogClose(bool isOk)
    {
        if (isOk)
        {
            RequestingDeleteRegistration = true;
            var request = new HttpRequestMessage(HttpMethod.Delete, ApiService.GetBaseUrl() +  $"Registrations/{registrationIdToDelete}/delete");
            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", await GetToken());
            var response = await HttpClient.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                await RefreshEvent.InvokeAsync();
            }
            if (!response.IsSuccessStatusCode)
            {
                ErrorMessage = Messages.ApiInternalServerErrorMessage;
            }
            RequestingDeleteRegistration = false;
        }
        DialogDeleteRegistrationIsOpen = false;
    }
    
    private void OpenDialog(Guid id, string userName)
    {
        DialogDeleteRegistrationIsOpen = true;
        registrationIdToDelete = id;
        message = $"Do you want to delete the {userName} registration?";
    }
    
    private async Task<string> GetToken()
    {   
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
        return await customAuthStateProvider.GetToken();
    }

    private string GiveStateIcon(RegistrationState registrationState)
    {
        if (registrationState == RegistrationState.Accepted)
        {
            return AcceptedState;
        }
        if (registrationState == RegistrationState.PreRegistered)
        {
            return PreRegisteredState;
        }
        return CancelledState;
    }
    
    private async Task DownloadCsv()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "https://sport-management-api.azurewebsites.net/api/Events/" + $"{EventId}/export-registrations");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", await GetToken());
        var response = await HttpClient.SendAsync(request);
        
        if (response.IsSuccessStatusCode)
        {
            var file = await response.Content.ReadAsByteArrayAsync();
            var fileStream1 = new MemoryStream(file);
            var fileStream = (Stream)fileStream1;
            var fileName = $"registrations-{EventId}.csv";

            using var streamRef = new DotNetStreamReference(stream: fileStream);

            await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
        }
        if (!response.IsSuccessStatusCode)
        {
            ErrorMessage = Messages.ApiInternalServerErrorMessage;
        }
    }

    private void GoToCheckIn(Guid registrationId)
    {
        navManager.NavigateTo($"/manage-event/{EventId}/Check-in/{registrationId}");
    }   
}
